
.dashboard {
  max-width: 800px;
  margin: auto;
  padding: 1rem;


  button {
    margin: 0.25rem;
  }

  .filters {
    margin-bottom: 1rem;
  }

  mat-list-item {
    margin-bottom: 0.5rem;
  }
}

.table-section {
  margin-top: 2rem;
}

.table-card {
  padding: 1rem;
  margin-bottom: 1rem;
}

.group-card,
.matches-card {
  margin-top: 1rem;
}

.table-wrapper {
  overflow-x: auto;
}

.season-table {
  width: 100%;

  th,
  td {
    text-align: center;
  }

  th {
    font-weight: 600;
    position: sticky;
    top: 0;
    background: #fafafa;
    cursor: pointer;
  }
}

.info {
  margin-top: 1rem;
}

.start-form {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.result-form {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.new-match-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;
}

.score-select {
  width: 100px;
  margin: 0 0.5rem;
}

.result-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid #ccc;
  }

  th {
    text-align: left;
  }
}

.action-cell {
  width: 40px;
  text-align: center;
}
