<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Spielolympiade</a>
    <div class="d-flex">
      <a routerLink="/history" class="btn btn-secondary">Historie</a>
      <a routerLink="/spiele" class="btn btn-primary">Spiele</a>
      <a routerLink="/teams" class="btn btn-primary">Teamsverwaltung</a>
      <a routerLink="/players" class="btn btn-primary">Spielerverwaltung</a> 
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
