<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="auth.isLoggedIn()">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Spielolympiade</a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="{'collapse navbar-collapse': true, 'show': !isNavbarCollapsed}">
      <div class="navbar-nav ms-auto">
        <a routerLink="/history" class="btn btn-secondary me-2">Historie</a>
        <a routerLink="/spiele" class="btn btn-primary me-2">Spiele</a>
        <a routerLink="/teams" class="btn btn-primary me-2">Teamsverwaltung</a>
        <a routerLink="/players" class="btn btn-primary me-2">Spielerverwaltung</a>
        <a *ngIf="auth.isAdmin()" routerLink="/users" class="btn btn-primary me-2">Userverwaltung</a>
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
