<mat-toolbar color="primary" *ngIf="auth.isLoggedIn()" class="main-nav">
  <a routerLink="/dashboard" class="title">Willkommen zur Spielolympiade</a>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/history">Historie</button>
  <button mat-menu-item routerLink="/admin" *ngIf="auth.getUser()?.role === 'admin'">Userverwaltung</button>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>

<router-outlet />
